#submit {
    background-color:gold;
    border:none;
    font-family:sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding: 19px;
    border-radius: 9px;
}
.submithover:hover {
    background-color: yellow;
}

#body1 {
    text-align: center;
width: 100%;
}
body {
    background-color: #eee;
}