#submit {
    background-color:gold;
    border:none;
    font-family:sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding: 19px;
    border-radius: 9px;
}
#submit:hover {
    background-color: ;
    transition: 0.7s;

}
#submit:focus{
background-color: y;
background-image: repeating-linear-gradient(to right,red,orange,yellow,green,blue,indigo,violet);
background-size: 600vw,600vw;
animation: slide 10s linear infinite forwards;
}
@keyframes slide{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 600vw;
    }
}

#body1 {
    text-align: center;
width: 100%;
}
body {
    background-image: repeating-linear-gradient(to right,red,orange,yellow,green,blue,indigo,violet);
background-size: 600vw,600vw;
animation: slide 10s linear infinite forwards;
}
